/* Global styling */
*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* section 1 starts  */

/* Background color for section 1 */
.sec-1-background-color{
    background-color: #EFEFEF;
}

/* Logo positioning for section 1 */
.sec-1-logo-postioning{
    margin-left: 5%;
    margin-top: 5%;
}

/* Logo size for section 1 */
.sec-1-logo{
    width: 5%;
}

/* Main container styling */
.container {
    width: auto;
    margin: 0 auto;
    margin-bottom: 5%;
}

/* Left side container styling for section 1 */
.sec-1-left-side {
    float: left;
    width: 50%;
}

/* Text positioning for section 1 */
.sec-1-text-postion{
    margin-top: 20%;
    margin-left: 10%;
}

/* Heading text size for section 1 */
.sec-1-text-postion h1{
    font-size: 4em;
}

/* Order Now button styling */
.order-now-btn {
    background-color: #BC1823;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 2.5%;
}

/* Right side container styling for section 1 */
.sec-1-right-side{
    float: right;
    width: 50%;
}

/* Header image size for section 1 */
.sec-1-header-img{
    width: 70%;
}

/* section 1 ends */

/* section 2 starts */

/* Section styling */
.sec-2 {
    display: flex;
    width: 100%;
    height: auto; /* Adjust the height as needed */
    overflow-y: hidden;
    overflow-x: hidden;
    color: white;
}

/* Left half styling */
.left-half {
    width: 50%;
    overflow-y: hidden;
    overflow-x: hidden;
}

/* Left image styling */
.left-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Right half styling */
.right-half {
    width: 50%;
    background-color: #BC1823;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Right text container styling */
.sec-2-right-text-container {
    text-align: left;
}

/* Text styling for section 2 */
.sec-2-h1-text{
    margin-bottom: 2.5%;
    font-size: 3em;
}

.sec-2-h4-2-text{
    margin-top: 5%;
    margin-bottom: -2.5%;
    font-weight: 100;
    font-size: 1.5em;
}

.sec-2-h4-text{
    font-weight: 100;
    font-size: 1.5em;
}

/* Order Now button styling */
.sec-2-order-now-btn {
    background-color: black;
    border: none;
    color: white;
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 7.5%;
}

/* section 2 ends */

/* section 3 starts */

/* Section styling */
.sec-3{
    text-align: center;
}

/* Background color for section 3 */
.sec-3-background-color{
background-color: #EFEFEF;
}

/* Header text positioning for section 3 */
.sec-3-header-text-postioning{
margin-top: 2.5%;
}

/* Images container styling */
.images-container {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
flex-wrap: nowrap;
}

/* Image styling */
.sec-3-image-row {
max-width: 33.33%;
height: auto;
margin-left: 5%;
margin-right: 5%;
margin-top: 5%;
margin-bottom: 5%;
}

/* Order Now button styling */
.sec-3-order-now-btn {
background-color: #BC1823;
border: none;
color: white;
padding: 10px 30px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
border-radius: 25px;
cursor: pointer;
margin-bottom: 5%;
}

/* section 3 ends */
